[
    {emqx_plugin_kafka, [
        {kafka_address_list, [{"localhost", 9092}]},    %%
        {kafka_config, [                                %%
            {reconnect_cool_down_seconds, 10},          %%
            {query_api_versions, true}                  %%
        ]},
        {topic, <<"emqx-topic">>},                      %% topic
        {publish_base64, false}                         %% For the message content published to mqtt, whether to base64 encode it before forwarding (in order to be compatible with sending byte streams)
    ]}
].
