[
    {emqx_plugin_kafka, [
        {kafka_address_list, [{"localhost", 9092}]},    %%
        {kafka_config, [                                %%
            {reconnect_cool_down_seconds, 10},          %%
            {query_api_versions, true}                  %%
        ]},
        {connect_kafka_topics, [
            {"d/settings", <<"ek_emqx_settings">>},
            {"d/events", <<"ek_emqx_events">>},
            {"d/metrics", <<"ek_emqx_metrics">>},
            {"connected", <<"ek_emqx_connected">>},
            {"disconnected", <<"ek_emqx_disconnected">>},
            {"d/ch/conn", <<"ek_emqx_ch_connected">>},
            {"d/ch/disconn", <<"ek_emqx_ch_disconnected">>}
        ]},
        {topic, <<"test_topic">>},                      %% topic
        {publish_base64, false}                         %% For the message content published to mqtt, whether to base64 encode it before forwarding (in order to be compatible with sending byte streams)
    ]}
].