[
    {emqx_plugin_kafka, [
        {kafka_address_list, [{"localhost", 9092}]},    %%
        {kafka_config, [                                %%
            {reconnect_cool_down_seconds, 10},          %%
            {query_api_versions, true}                  %%
        ]},
        {topic, <<"emqx-topic">>},                      %% topic
        {topic_settings, <<"ek_emqx_settings">>},
        {topic_events, <<"ek_emqx_events">>},
        {topic_metrics, <<"ek_emqx_metrics">>},
        {topic_connected, <<"ek_emqx_connected">>},
        {topic_disconnected, <<"ek_emqx_disconnected">>},
        {topic_sightmind_event_metadata, <<"ek_emqx_sightmind_metadata">>},
        {topic_sightmind_event_events, <<"ek_emqx_sightmind_events">>},
        {topic_sightmind_event_command, <<"ek_emqx_sightmind_command">>},
        {topic_dmpro_event_metadata, <<"ek_emqx_dmpro_metadata">>},
        {topic_dmpro_event_events, <<"ek_emqx_dmpro_events">>},
        {topic_dmpro_event_command, <<"ek_emqx_dmpro_command">>},
        {topic_channel_connected, <<"ek_emqx_ch_connected">>},
        {topic_channel_disconnected, <<"ek_emqx_ch_disconnected">>},
        {publish_base64, false}                         %% For the message content published to mqtt, whether to base64 encode it before forwarding (in order to be compatible with sending byte streams)
    ]}
].